/* obsidian daily note structure plugin */
/* Settings dialog - 'structure' settings*/
.setting-item.dly-nt-strct-sttngs-strct.error textarea {
  color: red;
}

.dly-nt-strct-action-ribbon-class {
  --icon-size: var(--icon-size-m)
}
/* Hide obsidians button for its own 'daily note' in sidebar */
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="የዛሬውን ማስታወሻ ክፈት"          ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="فتح ملاحظة اليوم"            ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Сённяшняя нататка"           ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Obre la nota d'avui"         ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Otevřít dnešní poznámku"     ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Åbn dagens note"             ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Heutige Notiz öffnen"        ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Άνοιγμα σημερινής σημείωσης" ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Abrir la nota de hoy"        ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="گشودنِ یادداشتِ امروز"       ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Ouvrir la note quotidienne"  ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="פתח את ההערה של היום"      ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Otvori današnju bilješku"    ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Mai jegyzet megnyitása"      ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Buka catatan hari ini"       ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Apri nota del giorno"        ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="今日のデイリーノートを開く"    ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="បើកកំណត់ចំណាំប្រចាំថ្ងៃរបស់ថ្ងៃនេះ"],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="오늘의 데일리 노트 열기"       ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Buka nota hari ini"          ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="आजको नोट खोल्नुहोस्"           ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Open de notitie van vandaag" ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Åpne dagens notat"           ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Otwórz dzisiejszą notatkę"   ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Abrir a nota de hoje"        ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Abrir nota de hoje"          ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Deschide nota de azie"       ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Сегодняшняя заметка"         ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="अद्यतनं टिप्पणं उद्घाटयन्तु"        ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Hap shënimet e sotme"        ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="เปิดโน้ตของวันนี้"                ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Bugünün Notunu Aç"           ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Сьогоднішня нотатка"         ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Mở ghi chú hôm nay"          ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="開啟今天的每日筆記"           ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="打开/创建今天的日记"          ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Open today's daily note"     ],
.dly-nt-strct-no-daily-deflt-icon .side-dock-actions div.side-dock-ribbon-action[aria-label="Open today's note"           ] {
  display: none;
}
/* Hide the plugins button for its 'daily note structure' in sidebar */
.dly-nt-strct-no-daily-plugin-icon .side-dock-actions div.dly-nt-strct-action-ribbon-class {
  display: none;
}
